.content-body {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    font: 1.5em/1.5em Tahoma;
}

.homeBtn {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    width: 20%;
    height: 8vh;
    background: #3a86ff;
    color: #fdfffc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
}

.homeBtn:hover {
    background: #2b77f0;
}