@media only screen and (min-width: 320px) and (max-width: 1199px) and (orientation: portrait) {
    .message {
        font: 24px/24px Tahoma;
    }

    .homeBtn {
        width: 50%;
        margin-top: 20px;
        font: bold 18px/36px Tahoma;
    }
}

@media only screen and (min-width: 320px) and (max-width: 1199px) and (orientation: landscape) {
    .message {
        font: 24px/24px Tahoma;
    }

    .homeBtn {
        width: 50%;
        margin-top: 20px;
        font: bold 18px/36px Tahoma;
    }
}

@media (min-width: 1200px) {
    .message {
        font: 22px/22px Tahoma;
    }

    .homeBtn {
        width: 20%;
        margin-top: 20px;
        font: bold 20px/40px Tahoma;
    }
}

.message {
    text-align: center;
}

.homeBtn {
    background: #17594A;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.homeBtn:hover {
    background: #FFA41B;
    color: black;
}