@media (min-width: 320px) and (max-width: 1199px) {
    .message {
        font: 18px/18px Tahoma;
    }

    .homeBtn {
        width: 50%;
        margin-top: 10px;
        font: bold 10px/20px Tahoma;
    }
}

@media (min-width: 1200px) {
    .message {
        font: 22px/22px Tahoma;
    }

    .homeBtn {
        width: 20%;
        margin-top: 20px;
        font: bold 20px/40px Tahoma;
    }
}

.message {
    text-align: center;
}

.homeBtn {
    background: #17594A;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.homeBtn:hover {
    background: #FFA41B;
    color: black;
}