@media (min-height: 350px) and (max-height: 800px) {
    article {
        height: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 320px) and (max-width: 1200px) {
    .content {
        width: 90%;
        padding: 10px;
    }

    .content h1 {
        margin-top: 10px;
        font: bold 22px/22px Tahoma;
    }

    table, .filter, .pagination {
        margin-top: 10px;
        width: 100%;
    }

    .filter {
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    table {
        color: #2b2d42;
        font: 12px/12px Tahoma;
    }

    td {
        padding: 5px;
    }

    .playerName {
        margin-left: 5px;
        padding: 0 5px;
        width: 60%;
        height: 30px;
    }

    form input {
        font: 14px/14px Tahoma;
    }

    .nameLabel {
        width: 15%;
        font: 14px/14px Tahoma;
    }

    .clearLink, .filterButton {
        display: block;
        margin-left: 5px;
        width: 12.5%;
        height: 30px;
    }

    .clearButton {
        width: 100%;
    }

    .filterButton, .clearButton {
        height: 30px;
        background: #3a86ff;
        color: white;
        border: none;
        border-radius: 5px;
        font: bold 8px/8px Tahoma;
    }
}

@media (min-width: 1200px) {
    .content {
        width: 60%;
        padding: 10px;
    }

    .content h1 {
        margin-top: 10px;
        font: bold 24px/24px Tahoma;
    }

    table, .filter, .pagination {
        margin-top: 10px;
        width: 100%;
    }

    .filter {
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    table {
        color: #2b2d42;
        font: 16px/16px Tahoma;
    }

    td {
        padding: 5px;
    }

    .playerName {
        margin-left: 5px;
        padding: 0 5px;
        width: 67%;
        height: 30px;
    }

    form input {
        font: 16px/16px Tahoma;
    }

    .nameLabel {
        width: 8%;
        font: 16px/16px Tahoma;
    }

    .clearLink, .filterButton {
        display: block;
        margin-left: 5px;
        width: 12.5%;
        height: 30px;
    }

    .clearButton {
        width: 100%;
    }

    .filterButton, .clearButton {
        height: 30px;
        background: #3a86ff;
        color: white;
        border: none;
        border-radius: 5px;
        font: bold 12px/12px Tahoma;
    }
}

.content-body {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

thead {
    color: #3a86ff;
    font-weight: bold;
}

td {
    text-align: center;
    border: 2px solid #2b2d42;
}

.matchId {
    width: 10%;
}

.playerOneName, .playerTwoName, .winnerName {
    width: 30%;
}

form {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.filterButton:hover, .clearButton:hover {
    background: #2b77f0;
}

.error {
    margin: 10px 0px 10px 0px;
    text-align: right;
    font: 0.8em/0.8em Tahoma;
    color: #d90429;
}

.pagination {
    width: 180px;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
}

.page {
    display: flex;
}

.page a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px 15px;
    background: #3a86ff;
    color: white;
    border-radius: 5px;
    font: bold 12px/14px Tahoma;
}

.page a:hover {
    background: #2b77f0;
}