* {
	padding: 0px;
	margin: 0px;
	border: none;
}

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

ul, ul li {
	list-style: none;
}

body {
    background: white;
}

nav {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    background: #3a86ff;
}

.nav-list {
    display: flex;
    margin-left: 20px;
}

.nav-list li a {
    display: block;
    width: 120px;
    padding: 20px;
    text-align: center;
    font: bold 20px/20px Georgia;
    color: white;
}

.nav-link:hover {
    background: white;
    color: #3a86ff;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 60%;
    margin-top: 30px;
    padding: 30px 50px;
    background: #e9ecef;
    border-radius: 10px;
}

.content h1 {
    text-align: center;
    font: bold 36px/36px Georgia;
    color: #3a86ff;
}

.content-body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table, .filter, .pagination {
    width: 100%;
}

table {
    color: #2b2d42;
    font: 18px/20px Georgia;
}

thead {
    color: #3a86ff;
    font-weight: bold;
}

td {
    padding: 5px;
    text-align: center;
    border: 2px solid #2b2d42;
}

.playerName {
    margin-left: 10px;
    width: 200px;
    height: 40px;
}

.matchId {
    width: 10%;
}

.playerOneName, .playerTwoName, .winnerName {
    width: 30%;
}

form {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

form input {
    font-size: 18px;
}

.filterButton {
    margin-left: 10px;
    width: 80px;
    height: 40px;
    background: #3a86ff;
    color: white;
    border: none;
    border-radius: 5px;
    font: bold 14px/14px Georgia;
}

.clearButton {
    width: 80px;
    height: 40px;
    background: #3a86ff;
    color: white;
    border: none;
    border-radius: 5px;
    font: bold 14px/14px Georgia;
}

.filterButton:hover, .clearButton:hover {
    background: #2b77f0;
}

.clearLink {
    width: 10%;
    margin-left: 1%;
}

.error {
    margin-bottom: 10px;
    text-align: right;
    font: 14px/14px Georgia;
    color: #d90429;
}

.pagination {
    width: 180px;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
}

.page {
    display: flex;
}

.page a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px 15px;
    background: #3a86ff;
    color: white;
    border-radius: 5px;
    font: bold 12px/14px Georgia;
}