@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    .content {
        height: 80vh;
    }

    .playerNameLab {
        width: 15%;
        font: bold 14px/14px Tahoma;
    }

    .filter form {
        width: 90%;
    }

    .playerNameInp {
        width: 50%;
        font: bold 14px/14px Tahoma;
    }

    .filterButton {
        width: 20%;
        font: bold 8px/14px Tahoma;
    }

    .clearLink {
        width: 20%;
    }

    .clearButton {
        width: 100%;
        font: bold 8px/14px Tahoma;
    }

    .error {
        font: bold 14px/14px Tahoma;
    }

    .matches-list {
        margin-top: 10px;
        width: 100%;
        padding-bottom: 10px;
    }

    .row {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10px;
    }

    .id {
        width: 10%;
        color: white;
    }

    .playerOne, .playerTwo {
        width: 25%;
        color: white;
    }

    .winner {
        width: 25%;
        color: #FFA41B;
    }

    .id, .playerOne, .playerTwo, .winner {
        font: 16px/36px Tahoma;
    }

    .pagination {
        margin-top: 10px;
        width: 45%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .page {
        font: bold 12px/18px Tahoma;
    }

    .page a {
        width: 25px;
    }

    .error {
        width: 100%;
        margin-top: 5px;
        text-align: center;
        color: #d90429;
    }
}

@media only screen and (min-width: 320px) and (max-width: 1199px) and (orientation: landscape) {
    .content {
        height: 70vh;
    }

    .playerNameLab {
        width: 15%;
        font: bold 14px/14px Tahoma;
    }

    .filter form {
        width: 90%;
    }

    .playerNameInp {
        width: 50%;
        font: bold 10px/10px Tahoma;
    }

    .filterButton {
        width: 20%;
        font: bold 10px/14px Tahoma;
    }

    .clearLink {
        width: 20%;
    }

    .clearButton {
        width: 100%;
        font: bold 10px/14px Tahoma;
    }

    .error {
        font: bold 14px/14px Tahoma;
    }

    .matches-list {
        margin-top: 10px;
        width: 100%;
        padding-bottom: 10px;
    }

    .row {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 5px;
    }

    .id {
        width: 10%;
        color: white;
    }

    .playerOne, .playerTwo {
        width: 25%;
        color: white;
    }

    .winner {
        width: 25%;
        color: #FFA41B;
    }

    .id, .playerOne, .playerTwo, .winner {
        font: 12px/24px Tahoma;
    }

    .pagination {
        margin-top: 10px;
        width: 45%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .page {
        font: bold 12px/18px Tahoma;
    }

    .page a {
        width: 25px;
    }

    .error {
        width: 100%;
        margin-top: 5px;
        text-align: center;
        color: #d90429;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .content {
        height: 70vh;
    }

    .playerNameLab {
        width: 10%;
        font: bold 16px/16px Tahoma;
    }

    .filter form {
        width: 90%;
    }

    .playerNameInp {
        width: 75%;
        font: bold 16px/16px Tahoma;
    }

    .filterButton {
        width: 10%;
        font: bold 12px/16px Tahoma;
    }

    .clearLink {
        width: 10%;
    }

    .clearButton {
        width: 100%;
        font: bold 12px/16px Tahoma;
    }

    .error {
        font: bold 16px/16px Tahoma;
    }

    .matches-list {
        margin-top: 10px;
        width: 100%;
        padding-bottom: 10px;
    }

    .row {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10px;
    }

    .id {
        width: 3%;
        color: white;
    }

    .playerOne, .playerTwo {
        width: 30%;
        color: white;
    }

    .winner {
        width: 30%;
        color: #FFA41B;
    }

    .id, .playerOne, .playerTwo, .winner {
        font: 18px/38px Tahoma;
    }

    .pagination {
        margin-top: 10px;
        width: 25%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .page {
        font: bold 14px/20px Tahoma;
    }

    .page a {
        width: 30px;
    }

    .error {
        width: 100%;
        margin-top: 5px;
        text-align: center;
        color: #d90429;
    }
}

@media (min-width: 1200px) {
    .content {
        height: 80vh;
    }

    .playerNameLab {
        width: 8%;
        font: bold 20px/20px Tahoma;
    }

    .filter form {
        width: 92%;
    }

    .playerNameInp {
        width: 75%;
        font: bold 20px/20px Tahoma;
    }

    .filterButton {
        width: 10%;
        font: bold 14px/20px Tahoma;
    }

    .clearLink {
        width: 10%;
    }

    .clearButton {
        width: 100%;
        font: bold 14px/20px Tahoma;
    }

    .error {
        font: bold 16px/16px Tahoma;
    }

    .matches-list {
        margin-top: 10px;
        width: 100%;
        padding-bottom: 10px;
    }

    .row {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10px;
    }

    .id {
        width: 3%;
        color: white;
    }

    .playerOne, .playerTwo {
        width: 30%;
        color: white;
    }

    .winner {
        width: 30%;
        color: #FFA41B;
    }

    .id, .playerOne, .playerTwo, .winner {
        font: 22px/42px Tahoma;
    }

    .pagination {
        margin-top: 10px;
        width: 20%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .page {
        font: bold 16px/22px Tahoma;
    }

    .page a {
        width: 35px;
    }

    .error {
        width: 100%;
        margin-top: 5px;
        text-align: center;
        color: #d90429;
    }
}

.filter {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.playerNameLab {
    color: #17594A;
}

.filter form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.playerNameInp {
    padding: 5px;
    color: #17594A;
}

.filterButton, .clearButton {
    background: #17594A;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.matches-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #17594A;
}

.id, .playerOne, .playerTwo, .winner {
    text-align: center;
    background: black;
}

.page a {
    display: block;
    text-align: center;
    background: #17594A;
    color: white;
    padding: 5px;
    border-radius: 5px;
}