@media (min-width: 320px) and (max-width: 767px) {
    h1 {
        color: #17594A;
        font: bold 24px/24px Tahoma;
    }

    .content-body p {
        font: 16px/26px Tahoma;
    }
}

@media (min-width: 768px)  and (max-width: 1199px) {
    h1 {
        color: #17594A;
        font: bold 30px/30px Tahoma;
    }

    .content-body p {
        font: 20px/30px Tahoma;
    }
}

@media (min-width: 1200px) {
    .content-body p {
        font: 22px/32px Tahoma;
    }
}

.content-link {
    color: #17594A;
}

.content-link:hover {
    color: #FFA41B;
}