* {
	padding: 0px;
	margin: 0px;
	border: none;
}

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

ul, ul li {
	list-style: none;
}

body {
    background: white;
}

nav {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    background: #3a86ff;
}

.nav-list {
    display: flex;
    margin-left: 20px;
}

.nav-list li a {
    display: block;
    width: 120px;
    padding: 20px;
    text-align: center;
    font: bold 20px/20px Georgia;
    color: white;
}

.nav-link:hover {
    background: white;
    color: #3a86ff;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 60%;
    margin-top: 30px;
    padding: 30px 50px;
    background: #e9ecef;
    border-radius: 10px;
}

.content h1 {
    text-align: center;
    font: bold 36px/36px Georgia;
    color: #3a86ff;
}

.content-body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
    color: #2b2d42;
    font: 16px/18px Georgia;
}

thead {
    color: #3a86ff;
    font-weight: bold;
}

td {
    padding: 5px;
    text-align: center;
    border: 2px solid #2b2d42;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.player {
    width: 40%;
}

.set, .game, .point, .col {
    width: 20%;
}

.points {
    font-weight: bold;
}

.button {
    width: 30%;
    height: 10vh;
    font: bold 16px/16px Georgia;
    background: #3a86ff;
    color: white;
    border: none;
    border-radius: 8px;
}

.button:hover {
    background: #2b77f0;
}

form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tieBreak {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tieBreak h3 {
    margin-bottom: 10px;
}

.tieBreak table {
    margin-top: 0px;
}