.content-body {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
    color: #2b2d42;
    font: 1.2em/1.4em Tahoma;
}

thead {
    color: #3a86ff;
    font-weight: bold;
}

td {
    padding: 5px;
    text-align: center;
    border: 2px solid #2b2d42;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.player {
    width: 40%;
}

.set, .game, .point, .col {
    width: 20%;
}

.points {
    font-weight: bold;
}

.button {
    width: 30%;
    height: 10vh;
    font: 1.4em/1.6em Tahoma;
    background: #3a86ff;
    color: white;
    border: none;
    border-radius: 8px;
}

.button:hover {
    background: #2b77f0;
}

form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tieBreak {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tieBreak h3 {
    margin-bottom: 10px;
}

.tieBreak table {
    margin-top: 0px;
}