@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    .content {
        height: 70vh;
    }

    .headers {
        font: bold 12px/12px Tahoma;
    }

    .headers, .playerOneScore, .playerTwoScore {
        margin-top: 10px;
    }

    .playerTwoScore {
        margin-bottom: 10px;
    }

    .players, .playerName {
        width: 30%;
    }

    .sets, .games, .points, .value {
        width: 20%;
    }

    .playerName {
        font: bold 16px/16px Tahoma;
    }

    .value {
        font: bold 40px/40px Tahoma;
    }

    .button {
        width: 45%;
        padding: 10px;
        font: bold 10px/10px Tahoma;
    }
}

@media only screen and (min-width: 320px) and (max-width: 1199px) and (orientation: landscape) {
    .content {
        height: 70vh;
    }

    .headers {
        font: bold 10px/10px Tahoma;
    }

    .headers, .playerOneScore, .playerTwoScore {
        margin-top: 5px;
    }

    .playerTwoScore {
        margin-bottom: 5px;
    }

    .players, .playerName {
        width: 30%;
    }

    .sets, .games, .points, .value {
        width: 20%;
    }

    .playerName {
        font: bold 12px/12px Tahoma;
    }

    .value {
        font: bold 28px/28px Tahoma;
    }

    .button {
        width: 45%;
        padding: 10px;
        font: bold 10px/10px Tahoma;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .content {
        height: 70vh;
    }

    .headers {
        font: bold 16px/16px Tahoma;
    }

    .headers, .playerOneScore, .playerTwoScore {
        margin-top: 20px;
    }

    .playerTwoScore {
        margin-bottom: 20px;
    }

    .players, .playerName {
        width: 30%;
    }

    .sets, .games, .points, .value {
        width: 20%;
    }

    .playerName {
        font: bold 24px/24px Tahoma;
    }

    .value {
        font: bold 54px/54px Tahoma;
    }

    .button {
        width: 30%;
        padding: 20px;
        font: bold 16px/16px Tahoma;
    }
}

@media (min-width: 1200px) {
    .content {
        height: 70vh;
    }

    .headers {
        font: bold 18px/18px Tahoma;
    }

    .headers, .playerOneScore, .playerTwoScore {
        margin-top: 20px;
    }

    .playerTwoScore {
        margin-bottom: 20px;
    }

    .players, .playerName {
        width: 30%;
    }

    .sets, .games, .points, .value {
        width: 20%;
    }

    .playerName {
        font: bold 28px/28px Tahoma;
    }

    .value {
        font: bold 60px/60px Tahoma;
    }

    .button {
        width: 20%;
        padding: 20px;
        font: bold 18px/18px Tahoma;
    }
}

.score-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #17594A;
}

.headers {
    color: white;
}

.headers, .playerOneScore, .playerTwoScore {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.playerName {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #FFA41B;
    border-bottom: 3px solid black;
}

.value {
    height: 100%;
    background: black;
    color: #FFA41B;
    border-bottom: 3px solid #FFA41B;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    background: #17594A;
    color: white;
    border-radius: 10px;
}

.button:hover, .button:active  {
    color: black;
    background: #FFA41B;
}

form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}