@media (min-width: 320px) and (max-width: 768px) {
    .content {
        width: 80%;
    }

    .formRow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .content {
        width: 60%;
    }

    .titleCol {
        width: 40%;
    }

    .inputCol {
        width: 60%;
    }
}

.content-body {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formRow {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.inputCol input {
    padding: 5px;
    font: 14px/14px Tahoma;
}

form span {
    font: 12px/12px Tahoma;
}

.submit {
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    font: 22px/44px Tahoma;
    background: #3a86ff;
    color: white;
    border-radius: 5px;
    border: none;
}

.submit:hover {
    background: #2b77f0;
}

.error {
    margin-top: 5px;
    text-align: right;
    font: 14px/14px Tahoma;
    color: #d90429;
}