* {
	padding: 0px;
	margin: 0px;
	border: none;
}

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

ul, ul li {
	list-style: none;
}

body {
    background: white;
}

nav {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    background: #17594A;
    display: flex;
    align-items: center;
}

.nav-list {
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-link:hover {
    background: #FFA41B;
    color: black;
}

.nav-link {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

article {
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 90%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #e9ecef;
    border-radius: 2em;
}

.content-body {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h4 {
    color: #17594A;
}

@media (min-width: 320px) and (max-width: 767px) {
    .nav-list {
        width: 100%;
    }

    .nav-link {
        width: 33.3333%;
        font: bold 16px/16px Tahoma;
    }

    h1 {
        font: bold 24px/24px Tahoma;
    }
}

@media (min-width: 768px)  and (max-width: 1199px) {
    .nav-list {
        width: 50%;
        margin-left: 10px;
    }

    .nav-link {
        width: 33.3333%;
        font: bold 18px/18px Tahoma;
    }

    h1 {
        font: bold 30px/30px Tahoma;
    }
}

@media (min-width: 1200px) {
    .nav-list {
        width: 40%;
        margin-left: 10px;
    }

    .nav-link {
        width: 33.3333%;
        font: bold 18px/18px Tahoma;
    }

    h1 {
        font: bold 36px/36px Tahoma;
    }
}

